@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lobster+Two&family=Poppins:ital,wght@0,500;1,300;1,400;1,600&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Cinzel:wght@500&family=Courgette&family=Flamenco&family=Great+Vibes&family=Kaushan+Script&family=Lobster+Two&family=McLaren&family=Poppins:ital,wght@0,500;1,300;1,400;1,600&family=Satisfy&display=swap');

body{
    background: #ffffff;
  
}

*{
    
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    outline: none;
    border:none;
    box-sizing: border-box;
    text-decoration: none;
 
    transition: all 0.2s ease-in;
    
}

a{
  text-decoration: none;
}


:root{

    --mauve:#a65edd;
    --mauvefoncé:#500E68;
    --noir:#444;
     --border:.3rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --m: rgba(170, 157, 208, 0.5) ;
    --border-hover:.2rem solid #b98ecf;
    --gris:#666;

    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
   
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--noir);
} 

section{
    padding:5rem 9%;
} 

.header .he1{
  background:#fff;
  align-items: center;
  text-align: center;
  height: 120PX;
 
}

.header .he1 .logo img{
  width: 180PX;
  height: 180PX;
  margin-top: -25PX;
}

.header .he1 .search-form{
    width:0rem;
    height:0rem;
    border:3px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: 50px;
}






.header .he2{
    background: rgb(34,102,50);
    background: linear-gradient(90deg, rgb(46, 137, 67) 0%, rgba(79,189,82,1) 50%, rgba(152,255,152,1) 100%);
}

.header .he2 .navbar{
    text-align: center;
}

.header .he2 .navbar a{
  color:#fff;
  display: inline-block;
  padding:2rem;
  font-size: 1.6rem;
  text-decoration: none;
  margin-right: 25PX;
  
}

.header .he2 .navbar a:hover{
    background:#4E944F;
}

.header .he2.active{

    position:fixed ;
    top:0 ;
    left:0 ;
    right:0 ;
    z-index: 1000 ;
    padding:0.8rem;
    
}










.home-image img{
    background-size: cover;
    background-position: center center !important;
   
    padding-bottom: 70px;
    width: 100%;
    z-index: 2;
   
}

.home-text{
position:absolute;
letter-spacing: 2PX;
color:white;
top: 33%;
text-align: center;
cursor: default;
margin-left: 130PX;
}

.home-text h2{
    font-family: 'Poppins', sans-serif; 
    font-size: 45PX; 
     
}
.home-text p{
    font-size: 16PX;
   margin-top: 10PX;
}
.home-text a{
    font-size: 16PX;
   margin-top: 10PX;
   text-decoration: none;
   color: white;
}

.main h3{
margin-top: -60PX;
text-align: center;
font-size: 30PX;
COLOR:#244560 ;
}
.main p{
font-size: 18PX;
color: black;
opacity: 0.8;
text-align: center;
}




.mainn{
    background-color: white;
    text-align: center;
    align-items: center;
    width: 700PX;
    height: 600PX;
    margin-top: 70PX;
   
}
.contact{
    display: flex;
    margin-left: 40PX;
}

.input-fields {
    margin-left: 60PX;
    display: flex;
    justify-content: space-between;
  }
   
  .input-fields label {
    display: block;
    margin-TOP: 5px;
    margin-bottom: 10px;
    color: #000000;
    text-align: left;
    font-size: 16PX;
  }
   
  div[class*='column'] {
    width: 382px;
  }
   
  input[type='text'],
  input[type='password'],
  input[type='email']{
    font-size: 16px;
    width: 130%;
    height: 50px;
    padding-right: 40px;
    padding-left: 16px;
    color: rgba(46, 46, 46, .8);
    border-radius: 4px;
    outline: none;
    background-color: #f2f2f2;
  }
  textarea{
    font-size: 16px;
    color: rgba(46, 46, 46, .8);
    border-radius: 4px;
    outline: none;
    background-color: #f2f2f2;
    padding-left: 5px;
  }
  
   
  input[type='text']:focus,
  input[type='password']:focus,
  input[type='email']:focus,
  textarea:focus{
    border-color: rgba(79,189,82,1);
    border-radius: 16PX;
  }
   
  textarea:focus{
    border-color: rgba(79,189,82,1);
    border-radius: 16PX;
  }
   
  .buttons {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 0 80px;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn {
    font-size: 14px;
    width: 150px;
    height: 45px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 23px;
    font-weight: bold;
    margin-TOP: 40px;
    margin-left: 150PX;
  }
   
   
  .confirm-btn {
    color: #fff;
    background:#01466e ;
    
  }
  
  
  .confirm-btn:hover {
   background-color: #51bf54;
    color: #fff;
  }
  .btn:focus {
    outline: none;
  }
   
  .btn:hover {
    transform: scale(1.1);
  
  }
  
  .map{
    box-shadow: 0 5px 17px rgba(0, 0, 0, 0.1);
  }
  
  

.footer .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.4rem;
    
}

.footer .box-container .box {
  font-size: 2.2rem;
  color:var(--black);
  padding:2rem 0;
  margin-left: 130PX;
  margin-top: -40PX;
}


.footer .box-container .box h3{
    font-size: 2.2rem;
    color:#01466e;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:#01466e;
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    color:#01466e;
    text-align: center;
}

.footer .logooo img{
  width: 180PX;
    height: 180PX;
    margin-top: -30PX;
    margin-left: 45PX;
}

.footer .logooo p{
  margin-left: 14PX;
  font-size: 13PX;
margin-top: -30PX;
  color: #01466e;
}





.he1 .aa{
  display: none;
}

.he1 .aa{
  font-size: 30PX;
  align-items: RIGHT;
text-align: right;
margin-top: -83PX;
margin-right: 20PX;
cursor: pointer;

}







@media (max-width:991PX) {


  .header .he2 .navbar {
      position: absolute;
      right: 0;
      height: 45vh;
      width: 360PX;
      top: 0VH;
      background: rgb(34,102,50);
      background: linear-gradient(90deg, rgb(46, 137, 67) 0%, rgba(79,189,82,1) 50%, rgb(94, 255, 94) 100%);
      display: none;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
        
      }
      
      
      
      .he1 .aa{
        display: block;
      }
      
      .he1 .responsive {position: relative;}
      
        .he1 .responsive a.aa {
          position: absolute;
          right: 0;
          top: 0;
        }
      
      
        .he2 .responsive a {
      
          float: none;
          display: block;
          text-align: left;
          
        }





        .home-image img{
        
          height: 300PX;
       }
       
       .home-text{
       top: 15%;
       margin-left: 40PX;
       }

       .home-text h2{
           font-size: 20PX; 
            
       }


      .main h3{
        margin-top: -70PX;

        font-size: 20PX;
       }
        .main p{
        font-size: 15PX;

        }
        


        .mainn{
          background-color: rgb(255, 255, 255);
          text-align: center;
          align-items: center;
          width: 400PX;
          height: 600PX;
          margin-top: 10PX;
         
      }
      .contact{
          display: block;
          margin-left: -10PX;
      }



      .input-fields {
        margin-left: 60PX;
        display: flex;
        justify-content: space-between;
      }
       
      .input-fields label {
        display: block;
        margin-TOP: 5px;
        margin-bottom: 10px;
        color: #000000;
        text-align: left;
        font-size: 14PX;
      }
       
      div[class*='column'] {
        width: 182px;
      }
       
      input[type='text'],
      input[type='password'],
      input[type='email']{
        font-size: 16px;
        width: 130%;
        height: 50px;
        padding-right: 40px;
        padding-left: 16px;
        color: rgba(46, 46, 46, .8);
        border-radius: 4px;
        outline: none;
        background-color: #dcdcdc;
      }
      textarea{
        font-size: 16px;
        color: rgba(46, 46, 46, .8);
        border-radius: 4px;
        outline: none;
        width: 240px;
        background-color: #dcdcdc;
        padding-left: 5px;
      }

      .buttons {

        align-items: LEFT;
        margin-left: -90PX;
      }
      .map{
        display: none;
      }

.footer .box-container .box{
   margin-left: 30PX;
 }
 










}